<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>CivVI City Planner</title>
  </head>
  <body>
    <main>
      <!-- ***********************  Menu  *********************** -->
      <header class="clearfix">
        <div>
          <h1>Civilization VI City Planner</h1>
          <div class="main-menu">
            <a href="https://civilization.fandom.com/wiki/List_of_terrains_in_Civ6">Terrain/Features</a>
            <a href="https://civilization.fandom.com/wiki/List_of_improvements_in_Civ6">Improvements</a>
            <a href="https://civilization.fandom.com/wiki/List_of_districts_in_Civ6">Districts</a>
            <a href="https://civilization.fandom.com/wiki/List_of_buildings_in_Civ6">Buildings</a>
            <a href="https://civilization.fandom.com/wiki/List_of_resources_in_Civ6">Resources</a>
            <a href="https://civilization.fandom.com/wiki/Civilizations_(Civ6)">Civilizations</a>
            <a href="">About me</a>
            <a href="">bug report</a>
          </div>
        </div>
      </header>
    </main>
  </body>
</html>
