<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>CivVI City Planner</title>
  </head>
  <body>
    <main>
      <!-- ***********************  Menu  *********************** -->
      <header class="clearfix">
        <div>
          <h1>Civilization VI City Planner</h1>
          <div class="main-menu">
            <a href="https://civilization.fandom.com/wiki/List_of_terrains_in_Civ6">Terrain/Features</a>
            <a href="https://civilization.fandom.com/wiki/List_of_improvements_in_Civ6">Improvements</a>
            <a href="https://civilization.fandom.com/wiki/List_of_districts_in_Civ6">Districts</a>
            <a href="https://civilization.fandom.com/wiki/List_of_buildings_in_Civ6">Buildings</a>
            <a href="https://civilization.fandom.com/wiki/List_of_resources_in_Civ6">Resources</a>
            <a href="https://civilization.fandom.com/wiki/Civilizations_(Civ6)">Civilizations</a>
            <a href="">About me</a>
            <a href="">bug report</a>
          </div>
        </div>
      </header>
    </main>
    <!-- ***********************  Brushes  *********************** -->
    <section class="brushes">
        <!-- ***********************  Terrain  *********************** -->
        <div class="terrains">
          <p class="indicator">Terrain:</p>
          <div>
            <button class="btn">grassland</button>
            <button class="btn">tundra</button>
            <button class="btn">lake</button>
            <button class="btn">plains</button>
            <button class="btn">snow</button>
            <button class="btn">ocean</button>
            <button class="btn">desert</button>
            <button class="btn">coast</button>
          </div>
        </div>
        <!-- ***********************  Features  *********************** -->
        <div class="fatures">
          <p class="indicator">Features:</p>
          <div>
            <button class="btn">woods</button>
            <button class="btn">mountains</button>
            <button class="btn">volcano</button>
            <button class="btn">rainforest</button>
            <button class="btn">cliffs</button>
            <button class="btn">volcanic_soil</button>
            <button class="btn">marsh</button>
            <button class="btn">reef</button>
            <button class="btn">geothermal</button>
            <button class="btn">river</button>
            <button class="btn">ice</button>
            <button class="btn">floodplains</button>
            <button class="btn">cataract</button>
            <button class="btn">oasis</button>
          </div>
        </div>
        <!-- ***********************  Improvements  *********************** -->
        <div class="improvements">
          <p class="indicator">Improvements:</p>
          <div>
            <button class="btn">farm</button>
            <button class="btn">mine</button>
            <button class="btn">quarry</button>
            <button class="btn">plantation</button>
            <button class="btn">camp</button>
            <button class="btn">pasture</button>
            <button class="btn">fishing</button>
            <button class="btn">lumber mill</button>
            <button class="btn">fort</button>
            <button class="btn">airstrip</button>
            <button class="btn">resort</button>
            <button class="btn">geothermal</button>
            <button class="btn">wind farm</button>
            <button class="btn">solar</button>
            <button class="btn">offshor oil</button>
            <button class="btn">missle silo</button>
            <button class="btn">tunnel</button>
            <button class="btn">railroad</button>
            <button class="btn">seastead</button>
          </div>
        </div>
        <!-- ***********************  Districts  *********************** -->
        <div class="districts">
          <p class="indicator">Districts:</p>
          <div>
            <button class="btn">city center</button>
            <button class="btn">campus</button>
            <button class="btn">theater square</button>
            <button class="btn">holy site</button>
            <button class="btn">encampment</button>
            <button class="btn">commercial hub</button>
            <button class="btn">harbor</button>
            <button class="btn">industrial zone</button>
            <button class="btn">entertainment complex</button>
            <button class="btn">water park</button>
            <button class="btn">aqueduct</button>
            <button class="btn">neighborhood</button>
            <button class="btn">canal</button>
            <button class="btn">dam</button>
            <button class="btn">aerodrome</button>
            <button class="btn">spaceport</button>
            <button class="btn">gvmt plaza</button>
            <button class="btn">diplomatic quarter</button>
          </div>
        </div>
        <!-- ***********************  Natural Wonders  *********************** -->
        <!-- ***********************  Wonders  *********************** -->
    </section>
    
    <!-- ***********************  Display  *********************** -->
    <div class="honycomb">
      <img src="static/images/honeycomb.jpg" alt="">
      <button class="hex-button cc"></button>
      <button class="hex-button i0"></button>
      <button class="hex-button i1"></button>
      <button class="hex-button i2"></button>
      <button class="hex-button i3"></button>
      <button class="hex-button i4"></button>
      <button class="hex-button i5"></button>
      <!-- <button class="hex-button m0"></button>
      <button class="hex-button m1"></button>
      <button class="hex-button m2"></button>
      <button class="hex-button m3"></button>
      <button class="hex-button m4"></button>
      <button class="hex-button m5"></button>
      <button class="hex-button m6"></button>
      <button class="hex-button m7"></button>
      <button class="hex-button m8"></button> -->
      <!-- <button class="hex-button m9"></button>
      <button class="hex-button m10"></button>
      <button class="hex-button m11"></button>
      <button class="hex-button o0"></button>
      <button class="hex-button o1"></button>
      <button class="hex-button o2"></button>
      <button class="hex-button o3"></button>
      <button class="hex-button o4"></button>
      <button class="hex-button o5"></button>
      <button class="hex-button o6"></button>
      <button class="hex-button o7"></button>
      <button class="hex-button o8"></button>
      <button class="hex-button o9"></button>
      <button class="hex-button o10"></button>
      <button class="hex-button o11"></button>
      <button class="hex-button o12"></button>
      <button class="hex-button o13"></button>
      <button class="hex-button o14"></button>
      <button class="hex-button o15"></button>
      <button class="hex-button o16"></button>
      <button class="hex-button o17"></button> -->
    </div>
  </body>
</html>
